* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  list-style: none;
  text-decoration: none;
}
body,
html {
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  box-sizing: border-box;
  /* display: flex;
    align-items: center;
    justify-content: center; */
  min-height: 100vh;
}
header {
  position: sticky;
  top: 0px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
  /* background-color: hsla(0, 0%, 50%, 0); */
  background-color: black;
}

nav {
  margin: auto;
  width: 90%;
  min-height: 9vh;
  line-height: 9vh;
}

nav ul {
  flex: 1;
  font-size: 20px;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

ul li {
  margin: 0 20px;
  list-style: none;
}
nav a {
  color: white;
  text-decoration: none;
  padding: 10px 17px;
}

section {
  min-height: 100vh;
}

section img {
  height: 100vh;
  width: 100%;
  object-fit: cover;
}

/*   color: coral;
  color: chartreuse;
  color: chocolate;
  color: cadetblue; */

.trans {
  position: absolute;
  z-index: -10;
  background-color: coral;
}
